<style>
    .bulk-order {
        /*width: 80%;*/
        /*margin: 20px auto;*/
        font-size: 1.2rem;
    }
    .bulk-order__header {
        text-align: center;
        font-size: 2em;
    }
    .bulk-order__row {
        width: 100%;
        background-color: #f5f4f1;
    }
    /*.bulk-order__row:after {*/
        /*content: " ";*/
        /*display: table;*/
        /*clear: both;*/
    /*}*/
    .bulk-order__title {
        width: 100%;
        padding: 20px 28px 2px 28px;
        font-size: 1.6em;
        font-family: Baskerville MT, "Baskerville Old Face", "Hoefler Text", Garamond, "Times New Roman", serif;
    }
    .bulk-order__content {
        display: flex;
        flex-wrap: nowrap;
    }
    .bulk-order__box {
        margin: 0 28px;
    }
    .bulk-order__image {
        width: 100%;
        /*max-height: 168px;*/
        /*padding-left: 28px;*/
        /*float: left;*/
    }
    .bulk-order__description {
        width: 100%;
        /*max-height: 168px ;*/
        /*padding: 0 28px;*/
        margin-bottom: 18px;
        /*float: left;*/
        overflow: auto;
    }
    .bulk-order__price {
        width: 100%;
        /*padding-left: 28px;*/
        margin-bottom: 18px;
        /*float: left;*/
        font-size: 1.2em;
        font-weight: bold;
    }
    .bulk-order__variants-list {
        width: 100%;
        display: flex;
        flex-wrap: nowrap;
        margin-bottom: 18px;
        font-size: 1.2rem;
        /*padding: 0 28px;*/
        /*min-height: 110px;*/
        /*float: left;*/
    }
    .bulk-order__variant {
        font-size: 1.1rem;
    }
    /*.bulk-order__quantity {*/
        /*width: 100%;*/
        /*padding-right: 28px;*/
        /*float: left;*/
    /*}*/

    .bulk-order__clear-button {
        /*float: left;*/
        width: 100%;
        /*padding-right: 28px;*/
        margin-bottom: 28px;
        /*font-size: 0.9em;*/
    }
    .bulk-order__main .bulk-order__row:nth-child(4n+1),
    .bulk-order__main .bulk-order__row:nth-child(4n+2) {
        background-color: #edece9;
    }
    @media only screen and (max-width: 749px) {
        .bulk-order {
            font-size: 1.1rem;
        }
        .bulk-order__content {
            flex-direction: column;
            align-items: center;
        }
        .box--middle {
            max-width: 320px;
        }
        .bulk-order__variants-list {
            flex-direction: column;
            font-size: 1rem;
        }
        .bulk-order__variant {
            font-size: 0.9rem;
        }
        .bulk-order__order-button {
            position: fixed;
            position: -webkit-sticky;
            position: sticky;
            right: 0;
            left: 0;
            bottom: 0;
        }
    }
    @media only screen and (min-width: 750px) {
        .bulk-order__content {
            flex-direction: row;
        }
        .bulk-order__box {
            min-height: 270px;
        }
        .box--start {
            flex-basis: 20%;
        }
        .box--middle {
            flex-basis: 50%;
        }
        .box--end {
            flex-basis: 20%;
        }
        .bulk-order__variants-list {
            flex-direction: row;
        }
    }
    .completely-hidden {
        display: none;
    }
</style>

{% assign collection = collections.pf-bikes %}

{% unless collection.products_count <= 0 %}
<div class="bulk-order page-width">
    <header class="bulk-order__header">{{ page.title }}</header>
    <div class="bulk-order__main">
    {% for product in collection.products %}
        {% if product.available %}
            <!-- Product name -->
            <div class="bulk-order__row"><p class="bulk-order__title">{{ product.title }}</p></div>
            <div class="bulk-order__row bulk-order__content">
                <div class="bulk-order__box box--start">
                    <!-- Image -->
                    <div class="bulk-order__image">
                        <a href="{{ product.url }}">
                            <img src="{{ product.featured_image | product_img_url: '320x320', format: 'pjpg' }}" alt="{{ product.title }}">
                        </a>
                    </div>
                    <!-- Price -->
                    <div class="bulk-order__price">
                        {% if product.price_varies %}
                            Starting from {{ product.price_min | money}}
                        {% else %}
                            Price: {{ product.price | money }}
                        {% endif %}
                    </div>
                </div>
                <div class="bulk-order__box box--middle">
                    <!-- Description -->
                    <div class="bulk-order__description">{{ product.description }}</div>

                    <form action="/cart/update.js" method="post" id="bulk-order__form">
                        <!-- Variants -->
                        <div class="bulk-order__variants-list">
                        {% if product.has_only_default_variant %}
                            <!-- This product does not have customizable option, i.e. only has default variant -->
                            {% assign variant = product.first_available_variant %}
                            <input type="number" id="Quantity-{{ variant.id }}" name="updates[{{ variant.id }}]" value="0" min="0" {% unless variant.inventory_policy == 'continue' or variant.inventory_management == blank %} max="{{ variant.inventory_quantity }}" {% endunless %} step="1" pattern="[0-9]*">
                        {% else %}
                                                                        {% comment %}
                            <!-- extract IDs of all available variants -->
                            {% capture available_variant_IDs %}
                            {% for variant in product.variants %}
                                {% if variant.available %}
                                    {{ variant.id }};
                                {% endif %}
                            {% endfor %}
                            {% endcapture %}
                                                                        {% endcomment %}
                            <fieldset>
                                <legend>Variants</legend>
                                <table>
                                    {% unless product.options_with_values == empty %}
                                    <thead>
                                        <tr>
                                            {% for option in product.options_with_values %}
                                            <th>{{ option.name }}</th>
                                            {% endfor %}
                                        </tr>
                                    </thead>
                                    {% endunless %}
                                    <tbody>
                                        {% for variant in product.variants %}
                                            {% if variant.available %}
                                                <tr class="bulk-order__variant">
                                                    <td>{{ variant.option1 | downcase | capitalize | default: '' }}</td>
                                                    <td>{{ variant.option2 | downcase | capitalize | default: '' }}</td>
                                                    <td>{{ variant.option3 | downcase | capitalize | default: '' }}</td>
                                                    <td>{{ variant.price | money | default: '' }}</td>
                                                    <td><input type="number" id="Quantity-{{ variant.id }}" name="updates[{{ variant.id }}]" value="0" min="0" {% unless variant.inventory_policy == 'continue' or variant.inventory_management == blank %} max="{{ variant.inventory_quantity }}" {% endunless %} step="1" pattern="[0-9]*"></td>
                                                </tr>
                                            {% endif %}
                                        {% endfor %}
                                    </tbody>
                                </table>
                            </fieldset>
                        {% endif %}
                        </div>
                    </form>
                </div>
                <div class="bulk-order__box box--end">
                    <!-- Clear Button -->
                    <div class="bulk-order__clear-button">
                        <button class="btn btn--full"><span class="primary-text" aria-hidden="false">Clear</span></button>
                    </div>
                </div>
            </div>
            {% comment %}
            DIEN TO DELETE
            <div class="variants-list completely-hidden">
                {{ product.title }}: {{ available_variant_IDs | default: '[No variant]' }}
                {% assign available_variant_IDs = '' %}
            </div>
            {% endcomment %}
        {% endif %}
    {% endfor %}
    </div>
    <!-- Order Button -->
    <div class="bulk-order__order-button">
        <button class="btn btn--full" form="bulk-order__form"><span class="primary-text" aria-hidden="false">Order</span></button>
    </div>
</div>
{% endunless %}
