<style>
    .bulk-order {
        /*width: 80%;*/
        /*margin: 20px auto;*/
        font-size: 1.2rem;
    }
    .bulk-order__header {
        text-align: center;
        font-size: 2em;
    }
    .bulk-order__row {
        width: 100%;
        background-color: #f5f4f1;
    }
    /*.bulk-order__row:after {*/
        /*content: " ";*/
        /*display: table;*/
        /*clear: both;*/
    /*}*/
    .bulk-order__title {
        width: 100%;
        padding: 20px 28px 2px 28px;
        font-size: 1.6em;
        font-family: Baskerville MT, "Baskerville Old Face", "Hoefler Text", Garamond, "Times New Roman", serif;
    }
    .bulk-order__content {
        display: flex;
        flex-wrap: nowrap;
    }
    .bulk-order__box {
        margin: 0 28px;
    }
    .bulk-order__image {
        width: 100%;
        /*max-height: 168px;*/
        /*padding-left: 28px;*/
        /*float: left;*/
    }
    .bulk-order__description {
        width: 100%;
        /*max-height: 168px ;*/
        /*padding: 0 28px;*/
        margin-bottom: 18px;
        /*float: left;*/
        overflow: auto;
    }
    .bulk-order__price {
        width: 100%;
        /*padding-left: 28px;*/
        margin-bottom: 18px;
        /*float: left;*/
        font-size: 1.2em;
        font-weight: bold;
    }
    .bulk-order__options-list {
        width: 100%;
        display: flex;
        flex-wrap: nowrap;
        margin-bottom: 18px;
        /*padding: 0 28px;*/
        /*min-height: 110px;*/
        /*float: left;*/
    }
    .bulk-order__option {
        /*float: left;*/
        margin-right: 8px;
    }
    .bulk-order__quantity {
        width: 100%;
        /*padding-right: 28px;*/
        /*float: left;*/
    }
    .bulk-order__add-button {
        /*float: left;*/
        width: 100%;
        /*padding-right: 28px;*/
        margin-bottom: 28px;
        /*font-size: 0.9em;*/
    }
    .bulk-order__main .bulk-order__row:nth-child(4n+1),
    .bulk-order__main .bulk-order__row:nth-child(4n+2) {
        background-color: #edece9;
    }
    @media only screen and (max-width: 749px) {
        .bulk-order {
            font-size: 1.1rem;
        }
        .bulk-order__content {
            flex-direction: column;
            align-items: center;
        }
        .box--middle {
            max-width: 320px;
        }
        .bulk-order__options-list {
            flex-direction: column;
        }
    }
    @media only screen and (min-width: 750px) {
        .bulk-order__content {
            flex-direction: row;
        }
        .bulk-order__box {
            min-height: 270px;
        }
        .box--start {
            flex-basis: 20%;
        }
        .box--middle {
            flex-basis: 50%;
        }
        .box--end {
            flex-basis: 20%;
        }
        .bulk-order__options-list {
            flex-direction: row;
        }
    }
    .completely-hidden {
        display: none;
    }
</style>

{% assign collection = collections.pf-bikes %}

{% unless collection.products_count <= 0 %}
<main class="bulk-order page-width">
    <header class="bulk-order__header">Bulk Order</header>
    <div class="bulk-order__main">
    {% for product in collection.products %}
        {% if product.available %}
            <!-- Product name -->
            <div class="bulk-order__row"><p class="bulk-order__title">{{ product.title }}</p></div>
            <div class="bulk-order__row bulk-order__content">
                <div class="bulk-order__box box--start">
                    <!-- Image -->
                    <div class="bulk-order__image"><img src="{{ product.featured_image | product_img_url: '320x320', format: 'pjpg' }}" alt="{{ product.title }}"></div>
                    <!-- Price -->
                    <div class="bulk-order__price">
                        {% if product.price_varies %}
                            Starting from {{ product.price_min | money}}
                        {% else %}
                            Price: {{ product.price | money }}
                        {% endif %}
                    </div>
                </div>
                <div class="bulk-order__box box--middle">
                    <!-- Description -->
                    <div class="bulk-order__description">{{ product.description }}</div>

                    <!-- Options -->
                    <div class="bulk-order__options-list">
                    {% if product.has_only_default_variant %}
                        <!-- This product does not have customizable option, i.e. only has default variant -->
                    {% else %}
                        {% unless product.options_with_values == empty %}
{% comment %}
                            {% assign first_variant = product.first_available_variant %}
                            {% capture options_string %}
                                {{ first_variant.option1 }};{{ first_variant.option2 }};{{ first_variant.option3 }}
                            {% endcapture %}
                            {% assign first_variant_options = options_string | strip | split: ';' %}
                            {% for option in product.options_with_values %}
                            <div class="bulk-order__option">
                                {% assign option_index = forloop.index0 %}
                                <label for="{{ product.id }}-{{ option.name }}">{{ option.name }}</label>
                                <select name="options[{{ option.name }}]" id="{{ product.id }}-{{ option.name }}">
                                {% for value in option.values %}
                                    <option value="{{ value }}" {% if first_variant_options[option_index] == value %} selected {% endif %}>{{ value }}</option>
                                {% endfor %}
                                </select>
                            </div>
                            {% endfor %}
{% endcomment %}

                            <!-- extract IDs of all available variants -->
                            {% capture available_variant_IDs %}
                            {% for variant in product.variants %}
                                {% if variant.available %}
                                    {{ variant.id }};
                                {% endif %}
                            {% endfor %}
                            {% endcapture %}

                            {% unless product.first_available_variant.empty? %}
                            <fieldset>
                                <legend>Variants</legend>
                                <table>
                                    <thead>
                                        <tr>
                                        {% for option in product.options_with_values %}
                                            <th>{{ option.name }}</th>
                                        {% endfor %}
                                        </tr>
                                    </thead>
                                    <tbody>
                                        {% for variant in product.variants %}
                                            {% if variant.available %}
                                                <tr>
                                                    <td>{{ variant.option1 | default: ''}}</td>
                                                    <td>{{ variant.option2 | default: ''}}</td>
                                                    <td>{{ variant.option3 | default: ''}}</td>
                                                    <td><input type="number" id="Quantity-{{ variant.id }}" name="{{ variant.id }}" value="0" min="0" step="1" pattern="[0-9]*"></td>
                                                </tr>
                                            {% endif %}
                                        {% endfor %}
                                    </tbody>
                                </table>
                            </fieldset>
                            {% endunless %}
                        {% endunless %}
                    {% endif %}
                    </div>
                </div>
                <div class="bulk-order__box box--end">
                    <!-- Quantity -->
                    <div class="bulk-order__quantity">
                        <label for="Quantity-{{ product.id }}">{{ 'products.product.quantity' | t }}
                            <input type="number" id="Quantity-{{ product.id }}" name="quantity" value="0" min="0" step="1" pattern="[0-9]*">
                        </label>
                    </div>
                    <!-- Add-to-Cart Button -->
                    <div class="bulk-order__add-button">
                        <button class="btn btn--full"><span class="primary-text" aria-hidden="false">Add to cart</span></button>
                    </div>
                </div>
            </div>
            {% comment %}
            DIEN TO DELETE
            <div class="variants-list completely-hidden">
                {{ product.title }}: {{ available_variant_IDs | default: '[No variant]' }}
                {% assign available_variant_IDs = '' %}
            </div>
            {% endcomment %}
        {% endif %}
    {% endfor %}
    </div>
</main>
{% endunless %}
